body {
    background-image: url(background_RI.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: darkblue;
    font-family: 'Arial', sans-serif;
    margin-top: 90px;
    font-size: 100px;
}
h1:hover {
    color: white;
    transition: color 0.3s;
}

.img-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;
}
.img-wang {
    width: 32%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.img-ri {
    width: 32%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.img-limuwan {
    width: 32%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.img-container img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.btn-container {
  text-align: center;
  margin: 50px;     
}

.btn {
  transition: all 0.3s;
  font-size: 60px;
  outline: none;
  box-shadow: none;
  text-decoration: none;          
  display: inline-block;          
  -webkit-tap-highlight-color: transparent;  
  color: white;                   
  background-color: transparent; 
  border: none;                   
  cursor: pointer;                
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn:visited {
  color: white;    
}

.btn:hover {
  box-shadow: 0 0 20px white;
  transform: scale(1.1);
}
















